{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    // "linebreak-style": ["error", "(process.platform === win32 ? windows : unix)"],
    "linebreak-style":0,
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["e2e/**/*.js", "**/*.spec.js"]}],
    "no-console": ["error", {
      "allow": ["info", "warn", "error"]
    }],
    "object-curly-newline": ["error", {
      "ImportDeclaration": "never",
      "ExportDeclaration": "never"
      }]
  }
}
